@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252525;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 50px;
}
h4{
    color: antiquewhite;
}
.pagina{
    color: aliceblue;
}
span{
    font-size: 0.8em;
    color: aliceblue;
}
img {
    width: 200px;
}
.hidden{
    display: none;
}
