@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252525;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #fff;
    margin: auto;
    width: 100%;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 50px;
}
p{
    color: antiquewhite;
}
h2{
    font-size: 1.5em;
    color: #fff;
}
.pagina{
    color: aliceblue;
}
span{
    font-size: 0.8em;
    color: aliceblue;
}
img {
    width: 200px;
}
.hidden{
    display: none;
}
button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    color: #fff;
}
.error{
    margin-left: 30px;
    font-size: 1.2em;
    color: red;
}
input{
    font-size: 1,4em;
    height: 20px;
}
.card-cont{
    margin: 0 3%;
    max-width: 1200px;
}
form{
    margin: 0 4%;
}
.reset{
    display: flex;
    align-items: flex-end;
    margin: 0 2%;
}
i {
    cursor: pointer;
}